/* 
.content-instruction {
    align-items: center;
    align-content: center;
    opacity: 0;
}


.next-button {
    padding: 10px 20px;
    background: goldenrod;
    transition: all 0.5s ease-in;
    text-decoration: none;
    border-radius: 7px;
    font-size: 1.2vw;
    margin-top: 5px;
}

.play-button:hover {
    background-color: white;
    color: goldenrod;
}

.name-instructions {
    color: goldenrod;
}

.name-instructions:focus, .name-instructions:hover {
    color: goldenrod;
    text-shadow:
     2px 3px 0 red,
     4px 4px 0 green,  
      6px 5px 0 blue,
     8px  6px 0 yellow,
      10px 7px 0 black;
  }


@media screen and (max-width: 850px) {
    .bg-container {
        height: 100.5vh;
    }

    .content {
        font-size: 13px;
    }
} */

.name-instructions {
    color: goldenrod;
}

.titulo-instrucciones {
    padding-top: 20px;
    text-align: center;
}

.name-instructions:focus, .name-instructions:hover {
    color: goldenrod;
    text-shadow:
     2px 3px 0 red,
     4px 4px 0 green,  
      6px 5px 0 blue,
     8px  6px 0 yellow,
      10px 7px 0 black;
}

.next-button {
    padding: 10px 20px;
    background: goldenrod;
    transition: all 0.5s ease-in;
    text-decoration: none;
    border-radius: 7px;
    font-size: 1.2vw;
    margin-top: 5px;
}

.back-button:hover {
    background-color: white;
    color: goldenrod;
}

.back-button {
    padding: 10px 20px;
    background: goldenrod;
    transition: all 0.5s ease-in;
    text-decoration: none;
    border-radius: 7px;
    font-size: 1.2vw;
    margin-top: 5px;
}

.next-button:hover {
    background-color: white;
    color: goldenrod;
}

.div-instrucciones {
    display: flex;
}

.div-instrucciones-board {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.div-instrucciones-text {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 50px;
}

.div-botones{
    display: flex;
    justify-content: center;
}

.div-boton{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-self: center;
}

.cabana-roja-tablero {
    z-index: 1;
    position: absolute;
    top: 52%;
    left: 31%;
}

.cabana-roja-instrucciones {
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 70%;
  }


.escoba-roja-tablero {
    z-index: 1;
    position: absolute;
    top: 58%;
    left: 32%;
    transform: rotate(16deg);
}

#escoba-roja-tablero-1 {
    z-index: 1;
    position: absolute;
    top: 58%;
    left: 32%;
    transform: rotate(16deg);
}

#escoba-roja-tablero-2 {
    z-index: 1;
    position: absolute;
    top: 61.7%;
    left: 35.2%;
    transform: rotate(320deg);
}

.escoba-roja-instrucciones {
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 75%;
    
}

.div-cartas-escoba {
    display: flex;
    margin-bottom: 50px;
}

.div-cartas-cabana {
    display: flex;
    margin-bottom: 50px;
}

.div-cartas-castillo {
    display: flex;
    margin-bottom: 50px;
}

.pieza {
    padding: 100px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carta-unicornio {
    height: 100px;
    width: 100px;
}

.carta-serpiente {
    height: 100px;
    width: 100px;
}

.carta-varita {
    height: 100px;
    width: 100px;
}

.carta-phoenix {
    height: 100px;
    width: 100px;
}

.carta-dragon {
    height: 100px;
    width: 100px;
}
