
.div-partida {
    display: flex;
    align-items: center;
    margin: 5%;
}

.hex {
    background-image: url('./logo_howards.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: blue;
} */

.div-board-partida {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative; 
}

.div-izquierdo-partida {
    display: flex;
    flex-direction: column;
    width: 25%;
    position: relative;
    padding: 10px;
}

.div-derecho-partida {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: relative; 
}

.button-partida:hover {
  background-color: white;
  color: goldenrod;
}

.button-partida {
  padding: 10px 20px;
  background: goldenrod;
  transition: all 0.5s ease-in;
  text-decoration: none;
  border-radius: 7px;
  font-size: 1.2vw;
  margin-top: 15px;
}

.carta-dragon {
  height: 150px;
  width: 120px;
  border-radius: 10px;
  border: 2px solid white;
}

.cartas {
  padding: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg g {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hexagon-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor de transparencia aquí */
  transition: background-color 0.3s ease;
}

.hexagon-button:hover::before {
  background-color: red; /* Cambia el color aquí */
}




/* .grid {
    width: 500%;
} */

/* 
svg g {
  fill: white;
  fill-opacity: 0.6;
}

svg g:hover {
  fill: white;
  fill-opacity: 0.3;
}
svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: white;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
svg g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
svg path {
  fill:none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#pat-1 {
    background-size: cover;
} 



 */
